<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href={{ url_for( 'static', filename='style.css' ) }} />
</head>

<body>
    <div class = "center_div">
        <h2>Login</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <b class="red">{{ message }}</b>
                {% endfor %}
                <br><br>
            {% endif %}
        {% endwith %}
        <form method = "POST" action="/login">
            <input type="text" name = "username" value="Enter Username Here">
            <input type="submit" value="LOGIN" name="submit">
        </form>
        <br>
        <a href = "/signup" >No Account? Sign Up Here.</a>
    </div>
    
</body>

</html>
