body {
  background-color: #4d4dff;
  text-align: center; /*center div inside*/
}

.center_div {
  display: inline-block;
  text-align: center; /*center stuff inside*/
  background-color: #8080ff;
  padding-left: 10px; /*create padding between walls of div and the contents of the div*/
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 25px; /*rounded corners*/
  width: 700px;
}

.error_color {
  background-color: green;
}

.red {
  color: red;
}

.comment_div {
  border-radius: 25px;
  padding-left: 5px; 
  padding-right: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-style: groove; 
  border-width: 2px;
  border-color: #4d4dff;
  position: relative;
  width: 95%;
  height: 100px;
}

.top_left {
  /* position: absolute;
  top: 3%;
  left: 3%; */
  float: left;
  text-align: left;
  font-size: 0.65em;
  font: bold;
}

.comment_text_div {
  clear: both;
  overflow: auto;
  height: 50%;
}

.smallhr {
  width: 25%;
}

.small_margin {
  margin: 2px;
}

.tagline_margin {
  margin-top: 0px;
}

.welcome {
  position: fixed;
  top: 5px;
  right: 5px;
  text-align: center; /*center stuff inside*/
  background-color: #8080ff;
  padding-left: 10px; /*create padding between walls of div and the contents of the div*/
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 25px; /*rounded corners*/
}